<tr>
    <td class="sm-px-24" style="padding: 16px 48px; text-align: left;">
        <p style="margin: 0; font-size: 18px; font-weight: 600;">Halo, {{name}}!</p>
        <div class="sm-h-32" style="line-height: 24px;">&zwnj;</div>
        <p style="font-size: 16px; font-weight: 600; color: #1f2937;">Kata sandi Anda telah diubah di Seraphim.</p>
        <p style="font-size: 16px; color: #1f2937;">
            Jika Anda tidak melakukan perubahan ini atau yakin bahwa orang yang tidak berwenang telah mengakses akun
            Anda, harap segera setel ulang kata sandi Anda.
        </p>
        <div class="sm-h-24" style="line-height: 16px;">&zwnj;</div>
        <p style="color: #111827;">
            Salam,<br>
            Seraphim
        </p>
    </td>
</tr>