<tr>
  <td class="sm-px-24" style="padding: 16px 48px; text-align: left;">
    <p style="margin: 0; font-size: 18px; font-weight: 600;">Hello, {{name}}!</p>
    <p style="font-size: 16px; color: #1f2937;">You are receiving this email because we received a password reset
      request for your account. Your verification code:</p>
    <div class="sm-h-32" style="line-height: 24px;">&zwnj;</div>
    <div style="text-align: center;">
      <span style="display: inline-block; padding: 16px 24px; font-size: 20px; font-weight: 600; text-transform: uppercase; line-height: 1; text-decoration: none;">
        {{verify_code}}
      </span>
    </div>
    <div class="sm-h-32" style="line-height: 24px;">&zwnj;</div>
    <p style="font-size: 16px; color: #1f2937;">This code will expire in {{expired}} minutes.</p>
    <p style="font-size: 16px; color: #1f2937;">If you did not request a password reset, no further action is required.
    </p>
    <div class="sm-h-24" style="line-height: 16px;">&zwnj;</div>
    <p style="color: #111827;">
      Regards,<br>
      Seraphim
    </p>
  </td>
</tr>
<tr>
  <td style="height: 2px; background-color: #d1d5db;"></td>
</tr>