<tr>
  <td class="sm-px-24" style="padding: 16px 48px; text-align: left;">
    <p style="margin: 0; font-size: 18px; font-weight: 600;">Halo, {{name}}!</p>
    <p style="font-size: 16px; color: #1f2937;">
      Anda menerima email ini karena Anda terdaftar di layanan kami.
    </p>
    <p style="font-size: 16px; color: #1f2937;">
      Harap konfirmasi alamat email Anda dengan mengklik link di bawah ini. Kami mungkin perlu mengirimi Anda informasi
      penting tentang layanan kami dan penting bagi kami untuk memiliki alamat email yang akurat.
    </p>
    <div class="sm-h-32" style="line-height: 24px;">&zwnj;</div>
    <div style="text-align: center;">
      <a href="{{ link }}" class="hover-bg-yellow-800"
        style="background-color: #ae915e; display: inline-block; border-radius: 4px; padding: 16px 24px; font-size: 14px; font-weight: 600; text-transform: uppercase; line-height: 1; color: #ffffff; text-decoration: none;">
        <!--[if mso]><i style="letter-spacing: 24px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
        <span style="mso-text-raise: 13pt;">Verifikasi Akun</span>
        <!--[if mso]><i style="letter-spacing: 24px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
      </a>
    </div>
    <div class="sm-h-32" style="line-height: 24px;">&zwnj;</div>
    <p style="font-size: 16px; color: #1f2937;">Tautan verifikasi ini akan kedaluwarsa dalam {{expired}} jam.</p>
    <div class="sm-h-24" style="line-height: 16px;">&zwnj;</div>
    <p style="color: #111827;">
      Salam,<br><br>
      Fire Express
    </p>
  </td>
</tr>
<tr>
  <td style="height: 2px; background-color: #e5e7eb;"></td>
</tr>
<tr>
  <td style="padding: 32px; text-align: center; font-size: 12px; color: #4b5563;">
    <p style="margin: 0; text-align: left;">Jika Anda kesulitan mengeklik tombol "Verifikasi Akun", salin dan tempel URL
      di bawah ini ke peramban web Anda:
      <a target="_blank" href="{{link}}">{{link}}</a>
    </p>
  </td>
</tr>